name: "Check AWS CDK Update"

on:
  push:
    branches:
      - main

jobs:
  check-aws-cdk-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      #- uses: morning-code/aws-cdk-update-checker@v0.0.14
      #- uses: morning-code/aws-cdk-update-pr-builder-action-ts@v1
      - uses: ./.github/actions/composite
        with:
          token: ${{ secrets.CR_PAT }}
