name: "Create PR to update AWS CDK"

on:
  push:
    branches:
      - main

jobs:
  check-aws-cdk-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Create AWS CDK Update PR
        uses: otajisan/aws-cdk-update-pr-builder-ts@v0.0.1
        #uses: ./.github/actions/composite
        #uses: morning-code/aws-cdk-update-pr-builder-action-ts@v1
        with:
          token: ${{ secrets.CR_PAT }}
          assignees: otajisan
          reviewers: otajisan
